<div class="home-container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="Cross Buy"
		gameType="Digital | PS4"
		gamePrice="R$ 199.99"
	></app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="Exclusivo"
		gameType="Digital | PS4 | PS 5"
		gamePrice="R$ 299.99"
	></app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="Exclusivo"
		gameType="Digital | PS4 | PS 5"
		gamePrice="R$ 299.99"
	></app-card>
	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		gameLabel="Exclusivo"
		gameType="Digital | PS4 | PS 5"
		gamePrice="R$ 299.99"
	></app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="Exclusivo"
		gameType="Digital | PS4 | PS 5"
		gamePrice="R$ 299.99"
	></app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="Exclusivo"
		gameType="Digital | PS4 | PS 5"
		gamePrice="R$ 299.99"
	></app-card>
</div>
