<div class="menu-bar-container">
	<div class="menu-bar-logo">
		<img src="../../../assets/ps-logo.png" alt="psn-logo" class="" />
	</div>
	<div class="menu-bar-item">
		<ul>
			<li>
				<img
					src="https://img.freepik.com/vetores-premium/logotipo-linkedin_578229-227.jpg"
					alt=""
				/>

				<a href="https://www.linkedin.com/in/frederico-altmann/">Linkedin</a>
			</li>
			<li>
				<img
					src="https://seeklogo.com/images/G/github-logo-2E3852456C-seeklogo.com.png"
					alt=""
				/><a href="https://github.com/FredRA1306">Github</a>
			</li>
		</ul>
	</div>
</div>
